#wrapper {
  width: 100%
};


#page_header {
  clear:both;
}

#page_header h1 {
  margin-top: 5px;
  text-align: center;
  font-size: 350%;
}

#page_header button#reset_app_btn {
  margin: auto;
  display: block;
}

#leftcol {
  float: left;
  width: 90%;
  min-height: 500px;
  background: #88ee88;
  padding-top: 20px;
}

#leftcol h2#current_map_num {
  display: inline-block;
  margin-left: 50px;
  color: #444;
  font-weight: 600;
  font-size: 130%;
}

#leftcol #clear_map_btn {
  margin-left: 40%;
  margin-bottom: 20px;
}

#leftcol table {
  min-width: 80%;
  margin: auto;
  border-bottom: 2px outset #bbb;
  border-right: 2px outset #bbb;
  text-align: center;
}

#leftcol table tr {
  /* height: 100px; */
}

#leftcol table td {
  border-top: 2px outset #bbb;
  border-left: 2px outset #bbb;
  height: 100px;
  width: 25%;
  vertical-align: middle;
  font-size: 400%;
}

#rightcol {
  float: right;
  width: 10%;
  min-height: 520px;
  background: #ccc;
}

#rightcol button#add_page_btn {
  margin-right: 30%;
  top: 0;
  right: 0;
  clear: both;
  width: 100%
}

#rightcol ul {
  background: #fff;
  float: left;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  border: 1px solid black;
}

#rightcol ul li {
  border-bottom: 1px solid black;
}
#rightcol ul li:last-child {
  border-bottom: none;
}

#rightcol ul li.selected {
  background: #bbf;
}
